<% if @events.present? %>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Event Name</th>
      <th>End at</th>
      <th>Publish</th>
      <th>Ticket</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each_with_index do |x, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= link_to x.name, edit_event_path(id: x.id) %></td>
        <td><%= x.starts_at %></td>
        <td><%= link_to "Publish this event", publish_events_path(event_id:x.id),method: :post%></td>
        <td><%= link_to "Create Ticket Type",new_ticket_type_path(event_id:x.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>